block variables
	- var masters = ['Мастер1','Мастер2','Мастер3','Мастер4']
	- var tech = [
	-	{
	-		name:'Телевизоры',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/',
	-		brands:
	-			[
	-			{
	-				name:'LG',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-lg/'
	-			},
	-			{
	-				name:'Samsung',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-samsung/'
	-			},
	-			{
	-				name:'Sony',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-sony/'
	-			},
	-			{
	-				name:'Hitachi',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-hitachi/'
	-			},
	-			{
	-				name:'Polar',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-polar/'
	-			},
	-			{
	-				name:'Sanyo',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-sanyo/'
	-			},
	-			{
	-				name:'Sharp',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-sharp/'
	-			},
	-			{
	-				name:'Skyworth',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-skyworth/'
	-			},
	-			{
	-				name:'Viera',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-viera/'
	-			},
	-			{
	-				name:'JVC',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-jvc/'
	-			},
	-			{
	-				name:'Daewoo',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-daewoo/'
	-			},
	-			{
	-				name:'Elenberg',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-elenberg/'
	-			},
	-			{
	-				name:'Haier',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-haier/'
	-			},
	-			{
	-				name:'Hisense',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-hisense/'
	-			},
	-			{
	-				name:'Panasonic',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-panasonic/'
	-			},
	-			{
	-				name:'Philips',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-philips/'
	-			},
	-			{
	-				name:'Thomson',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-thomson/'
	-			},
	-			{
	-				name:'Toshiba',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-toshiba/'
	-			},
	-			{
	-				name:'Vestel',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-vestel/'
	-			},
	-			{
	-				name:'Vitek',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%BE%D1%80%D0%BE%D0%B2-vitek/'
	-			}
	-			]
	-	},
	-	{
	-		name:'Ноутбуки',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2/',
	-		brands:[{name:'Lenovo',
	-				href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2-lenovo/'
	-				}, 
	-				{
	-					name:'Dell',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2-dell/'
	-				},{
	-					name:'HP',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2-hp/'
	-				},{
	-					name:'Asus',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2-asus/'
	-				},{
	-					name:'Acer',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BD%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA%D0%BE%D0%B2-acer/'
	-				}
	-			]
	-	},
	-	{
	-		name:'Посудомойки',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/',
	-		brands:[
	-				{
	-					name:'Hotpoint-Ariston',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA-hotpoint-ariston/'
	-				},
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA-bosch/'
	-				},
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA-electrolux/'
	-				},
	-				{
	-					name:'Hansa',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA-hansa/'
	-				},
	-				{
	-					name:'Indesit',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA-indesit/'
	-				},
	-				{
	-					name:'Whirpool',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA-whirpool/'
	-				},
	-				{
	-					name:'Beko',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%BE%D1%81%D1%83%D0%B4%D0%BE%D0%BC%D0%BE%D0%B5%D0%BA-beko/'
	-				}
	-			]
	-	},
	-	{
	-		name:'Кофемашины',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/',
	-		brands:[
	-				{
	-					name:'Cremesso',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-cremesso/'
	-				},
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-bosch/'
	-				},
	-				{
	-					name:'Delonghi',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-delonghi/'
	-				},
	-				{
	-					name:'Jura',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-jura/'
	-				},
	-				{
	-					name:'Krups',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-krups/'
	-				},
	-				{
	-					name:'Maxwell',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-maxwell/'
	-				},
	-				{
	-					name:'Nivona',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-nivona/'
	-				},
	-				{
	-					name:'Philips',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-philips/'
	-				},
	-				{
	-					name:'Redmond',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-redmond/'
	-				},
	-				{
	-					name:'Saeco',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-saeco/'
	-				},
	-				{
	-					name:'Scarlett',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-scarlett/'
	-				},
	-				{
	-					name:'Vitek',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D1%84%D0%B5%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-vitek/'
	-				},
	-			]
	-	},
	-	{
	-		name:'Газовые котлы',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%B3%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D1%85-%D0%BA%D0%BE%D1%82%D0%BB%D0%BE%D0%B2/',
	-		brands:[
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%B3%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D1%85-%D0%BA%D0%BE%D1%82%D0%BB%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%B3%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D1%85-%D0%BA%D0%BE%D1%82%D0%BB%D0%BE%D0%B2-electrolux/'
	-				},
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%B3%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D1%85-%D0%BA%D0%BE%D1%82%D0%BB%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%B3%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D1%85-%D0%BA%D0%BE%D1%82%D0%BB%D0%BE%D0%B2-bosch/'
	-				},
	-				{
	-					name:'Delonghi',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%B3%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D1%85-%D0%BA%D0%BE%D1%82%D0%BB%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%B3%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D1%85-%D0%BA%D0%BE%D1%82%D0%BB%D0%BE%D0%B2-delonghi/'
	-				},
	-			]
	-	},
	-	{
	-		name:'Холодильники',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/',
	-		brands:[
	-				{
	-					name:'Hotpoint-Ariston',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-hotpoint-ariston/'
	-				},
	-				{
	-					name:'Бирюса',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-%D0%B1%D0%B8%D1%80%D1%8E%D1%81%D0%B0/'
	-				},
	-				{
	-					name:'Stinol',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-stinol/'
	-				},
	-				{
	-					name:'AEG',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-aeg/'
	-				},
	-				{
	-					name:'Ariston',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-ariston/'
	-				},
	-				{
	-					name:'Beko',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-beko/'
	-				},
	-				{
	-					name:'Candy',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-candy/'
	-				},
	-				{
	-					name:'CoolFort',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-coolfort/'
	-				},
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-electrolux/'
	-				},
	-				{
	-					name:'Elenberg',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-elenberg/'
	-				},
	-				{
	-					name:'Franke',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-franke/'
	-				},
	-				{
	-					name:'Gorenje',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-gorenje/'
	-				},
	-				{
	-					name:'Haier',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-haier/'
	-				},
	-				{
	-					name:'Hansa',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-hansa/'
	-				},
	-				{
	-					name:'Hisense',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-hisense/'
	-				},
	-				{
	-					name:'Hyundai',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-hyundai/'
	-				},
	-				{
	-					name:'Indesit',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-indesit/'
	-				},
	-				{
	-					name:'Kaiser',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-kaiser/'
	-				},
	-				{
	-					name:'LG',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-lg/'
	-				},
	-				{
	-					name:'Liebherr',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-liebherr/'
	-				},
	-				{
	-					name:'Midea',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-midea/'
	-				},
	-				{
	-					name:'Miele',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-miele/'
	-				},
	-				{
	-					name:'Nord',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-nord/'
	-				},
	-				{
	-					name:'Panasonic',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-panasonic/'
	-				},
	-				{
	-					name:'Pozis',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-pozis/'
	-				},
	-				{
	-					name:'Redmond',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-redmond/'
	-				},
	-				{
	-					name:'Samsung',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-samsung/'
	-				},
	-				{
	-					name:'Sanyo',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-sanyo/'
	-				},
	-				{
	-					name:'Sharp',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-sharp/'
	-				},
	-				{
	-					name:'Toshiba',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-toshiba/'
	-				},
	-				{
	-					name:'Vitek',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-vitek/'
	-				},
	-				{
	-					name:'Zanussi',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-zanussi/'
	-				},
	-				{
	-					name:'ЗИЛ',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-%D0%B7%D0%B8%D0%BB/'
	-				},
	-				{
	-					name:'Vestel',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-vestel/'
	-				},
	-				{
	-					name:'Braun',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-braun/'
	-				},
	-				{
	-					name:'Whirpool',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-whirpool/'
	-				},
	-				{
	-					name:'Daewoo',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-daewoo/'
	-				},
	-				{
	-					name:'Atlant',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%85%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-atlant/'
	-				},
	-			]
	-	},
	-	{
	-		name:'Парогенераторы',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%B0%D1%80%D0%BE%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2/',
	-		brands:[
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%B0%D1%80%D0%BE%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%B0%D1%80%D0%BE%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2-electrolux/'
	-				},
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%B0%D1%80%D0%BE%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%B0%D1%80%D0%BE%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2-bosch/'
	-				},
	-				{
	-					name:'Delonghi',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%B0%D1%80%D0%BE%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D0%B0%D1%80%D0%BE%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BE%D0%B2-delonghi/'
	-				},
	-			]
	-	},
	-	{
	-		name:'Микроволновки',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/',
	-		brands:[
	-				{
	-					name:'LG',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA-lg/'
	-				},
	-				{
	-					name:'AVA',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA-ava/'
	-				},
	-				{
	-					name:'Beko',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA-beko/'
	-				},
	-				{
	-					name:'Daewoo',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA-daewoo/'
	-				},
	-				{
	-					name:'Elenberg',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA-elenberg/'
	-				},
	-				{
	-					name:'Panasonic',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA-panasonic/'
	-				},
	-				{
	-					name:'Samsung',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D0%BD%D0%BE%D0%B2%D0%BE%D0%BA-samsung/'
	-				}
	-			]
	-	},
	-	{
	-		name:'Кондиционеры',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/',
	-		brands:[
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-bosch/'
	-				},
	-				{
	-					name:'Beko',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-beko/'
	-				},
	-				{
	-					name:'Midea',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-midea/'
	-				},
	-				{
	-					name:'Panasonic',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-panasonic/'
	-				},
	-				{
	-					name:'Samsung',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-samsung/'
	-				},
	-				{
	-					name:'Daikin',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-daikin/'
	-				},
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-electrolux/'
	-				},
	-				{
	-					name:'Elenberg',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-elenberg/'
	-				},
	-				{
	-					name:'LG',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-lg/'
	-				},
	-				{
	-					name:'Veste',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%86%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2-veste/'
	-				}
	-			]
	-	},
	-	{
	-		name:'Утюги',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%83%D1%82%D1%8E%D0%B3%D0%BE%D0%B2/',
	-		brands:[
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%83%D1%82%D1%8E%D0%B3%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%83%D1%82%D1%8E%D0%B3%D0%BE%D0%B2-electrolux/'
	-				},
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%83%D1%82%D1%8E%D0%B3%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%83%D1%82%D1%8E%D0%B3%D0%BE%D0%B2-bosch/'
	-				},
	-				{
	-					name:'Delonghi',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%83%D1%82%D1%8E%D0%B3%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%83%D1%82%D1%8E%D0%B3%D0%BE%D0%B2-delonghi/'
	-				}
	-			]
	-	},
	-	{
	-		name:'Пылесосы',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/',
	-		brands:[
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-bosch/'
	-				},
	-				{
	-					name:'Beko',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-beko/'
	-				},
	-				{
	-					name:'Bork',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-bork/'
	-				},
	-				{
	-					name:'Daewoo',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-daewoo/'
	-				},
	-				{
	-					name:'Dyson',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-dyson/'
	-				},
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-electrolux/'
	-				},
	-				{
	-					name:'Elenberg',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-elenberg/'
	-				},
	-				{
	-					name:'Kambrook',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-kambrook/'
	-				},
	-				{
	-					name:'Karcher',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-karcher/'
	-				},
	-				{
	-					name:'Kirby',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-kirby/'
	-				},
	-				{
	-					name:'LG',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-lg/'
	-				},
	-				{
	-					name:'Philips',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-philips/'
	-				},
	-				{
	-					name:'Redmond',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-redmond/'
	-				},
	-				{
	-					name:'Rowenta',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-rowenta/'
	-				},
	-				{
	-					name:'Samsung',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-samsung/'
	-				},
	-				{
	-					name:'Scarlett',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-scarlett/'
	-				},
	-				{
	-					name:'Tefal',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-tefal/'
	-				},
	-				{
	-					name:'Thomas',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-thomas/'
	-				},
	-				{
	-					name:'Vitek',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-vitek/'
	-				},
	-				{
	-					name:'Zanussi',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-zanussi/'
	-				},
	-				{
	-					name:'Zelmer',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-zelmer/'
	-				},
	-				{
	-					name:'Zepter',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81%D0%BE%D0%B2-zepter/'
	-				}
	-			]
	-	},
	-	{
	-		name:'Стиральные машины',
	-		href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/',
	-		brands:[
	-				{
	-					name:'Ariston',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-ariston/'
	-				},
	-				{
	-					name:'Beko',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-beko/'
	-				},
	-				{
	-					name:'Candy',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-candy/'
	-				},
	-				{
	-					name:'Comfee',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-comfee/'
	-				},
	-				{
	-					name:'Electrolux',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-electrolux/'
	-				},
	-				{
	-					name:'Gorenje',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-gorenje/'
	-				},
	-				{
	-					name:'Haier',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-haier/'
	-				},
	-				{
	-					name:'Hansa',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-hansa/'
	-				},
	-				{
	-					name:'Indesit',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-indesit/'
	-				},
	-				{
	-					name:'Kaiser',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-kaiser/'
	-				},
	-				{
	-					name:'LG',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-lg/'
	-				},
	-				{
	-					name:'Miele',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-miele/'
	-				},
	-				{
	-					name:'Samsung',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-samsung/'
	-				},
	-				{
	-					name:'Siemens',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-siemens/'
	-				},
	-				{
	-					name:'Zanussi',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-zanussi/'
	-				},
	-				{
	-					name:'Atlant',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-atlant/'
	-				},
	-				{
	-					name:'Vestel',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-vestel/'
	-				},
	-				{
	-					name:'Bosch',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-bosch/'
	-				},
	-				{
	-					name:'Daewoo',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-daewoo/'
	-				},
	-				{
	-					name:'Whirpool',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-whirpool/'
	-				},
	-				{
	-					name:'Ardo',
	-					href:'https://mastersky.kz/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82-%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD-ardo/'
	-				}
	-			]
	-	}
	-]
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="/assets/static/css/slick.css")
		title Iceberg
	body
		//Меню
		.container
			nav#desktop
				.menu.col-sm-12
					//- .main-menu__mobile
					//- 	button.btn.btn-navbar.navbar-toggle
					//- 		i.fa.fa-bars 111
					//- 	button 222
					ul.main-menu
						li.main-menu__item.col-lg-4.col-md-4.col-sm-4
							a(href="https://mastersky.kz") Главная
						li.main-menu__item.col-lg-4.col-md-4.col-sm-4
							a(href="#") Ремонт техники
							.sub-menu
								.sub-menu__inner.row
									each el in tech
										.sub-menu__item.col-lg-2.col-md-2.col-sm-4 
											a(href=el.href) #{el.name}
											ul.tech-name
												each brand in el.brands
													li.tech-name__brand 
														a(href=brand.href) #{brand.name}
						li.main-menu__item.col-lg-4.col-md-4.col-sm-4
							a(href="#") О нас
		//Кнопки звонка
		.container
			a.mob-button__call(href="tel:+77788701335") Позвонить мастеру
			a.mob-button__whatsapp(href="https://api.whatsapp.com/send?phone=77051994569&amp") Написать мастеру в whatsapp
			.inline-buttons
				a.mob-button__call(href="tel:+77788701335") Позвонить мастеру
				a.mob-button__whatsapp(href="https://api.whatsapp.com/send?phone=77051994569&amp") Написать мастеру в whatsapp
		//Мастера
		.container.masters
			//- div(id="carousel")
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			//- 	.slider-item
			//- 		img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
			//- 		.slider-item-hover
			h3.masters__heading Наши мастера проведут диагностику СОВЕРШЕННО БЕСПЛАТНО!
			.row
				each val in masters
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.masters__master
							img(src='https://mastersky.kz/image/catalog/Screenshot_2.png' alt="")
							.master-name #{val}
		//Отзывы
		.container.feedback
			h3.feedback__heading Отзывы о нашей работе
			p.feedback__description С 2007 года заслужили множество благодарственных писем от известных компаний города Алматы,
				|( По вашему запросу готовы предоставить контакты для получения более точной информации о нашей работе)
			.row
				- var i = 0
				- for(i = 0; i< 3;i++)
					.col-lg-4.col-md-4.col-sm-6.col-xs-12
						img(src='https://mastersky.kz/image/catalog/-письмо-e1536042521647.jpeg' alt="")
		//Доставка
		.container.delivery
			h3.delivery__heading Все для Вашего удобства
			p.delivery__description Наш автомобиль заберет неисправную технику и доставит ее в наш сервисный центр АБСОЛЮТНО БЕСПЛАТНО!
			.delivery__row
				img(src='https://mastersky.kz/image/catalog/Picture1.png' alt="")
				img.row__arrow(src='https://mastersky.kz/image/catalog/57116.png' alt="")
				img(src='https://mastersky.kz/image/catalog/Picture2.jpg' alt="")
				img.row__arrow(src='https://mastersky.kz/image/catalog/57116.png' alt="")
				img(src='https://mastersky.kz/image/catalog/Picture3.png' alt="")
		//Контакты
		.container.contacts
			.contacts__contacts.col-lg-6.col-md-6.col-sm-6.col-xs-12
				h3.contacts__heading Мы находимся по адресу
				p.contacts__description ул. Карасай Батыра 185 (между Ауэзова и Жарокова)
			.contacts__map.col-lg-6.col-md-6.col-sm-6.col-xs-12
				iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A4090c4a7507d38be26fcc8b63c752f46db44fe10d420324f3f26be62925dfa55&amp;source=constructor" width="100%" height="300" frameborder="0")
		
		script(src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous")
		script(src="./assets/static/Jq/slick.min.js")